# Perkenalan

Nama : Arry Pandowo
Batch 001 Full-Stack Data Science Hacktiv8 Live Code Week 1

# Import Library

In [114]:
import pandas as pd
import numpy as np

import semua library yang dibutuhkan

# Data Loading & Cleaning

In [115]:
df = pd.read_excel("NMC1-9.xlsx")

Time & cap tidak dibutuhkan didalam perhitungan ini

In [116]:
df = df.drop(columns=["time(s)","Cap"])
df

         V_m  Current (A)  Cycle
0      4.098        0.997      1
1      4.096        0.998      1
2      4.094        0.999      1
3      4.093        0.998      1
4      4.092        0.999      1
...      ...          ...    ...
90977  2.506        1.002      9
90978  2.504        1.002      9
90979  2.502        1.002      9
90980  2.500        1.002      9
90981  2.497        1.002      9

[90982 rows x 3 columns]

## Problem

Hitung **hambatan baterai** tiap waktunya untuk **cycle ganjil** dan daya baterai tiap waktunya **kapasitas baterai** untuk **cycle genap** dari dataset dengan ketentuan sebagai berikut:

## Data Adjustment

untuk memudahkan pandas chaining maka nama table dari "current (A)" diubah menjadi "current"

In [117]:
df = df.rename(columns={"Current (A)" : "current"})

## Data Eksplorasi

Rumus perhitungan hambatan dan daya

In [118]:
def rumusHambatan(cycleGenap):
    for cycleGenap in df.Cycle:
        if cycleGenap % 2 == 0:
            return (df.V_m * df.current) 

def rumusDaya(cycleGanjil):    
    for cycleGanjil in df.Cycle:
        if cycleGanjil % 2 != 0:
             return (df.V_m / df.current)

* Rumus hambatan : jika modulus 2 = 0 maka genap kemudian dilakukan perhitungan rumus tersebut, hasil return ke caller rumus)
* Rumus Daya : berlaku hal yang sama namun dilakukan untuk ganjil dengan rumus yang berbeda

In [119]:
df.apply(rumusDaya)

            V_m   current     Cycle
0      4.110331  4.110331  4.110331
1      4.104208  4.104208  4.104208
2      4.098098  4.098098  4.098098
3      4.101202  4.101202  4.101202
4      4.096096  4.096096  4.096096
...         ...       ...       ...
90977  2.500998  2.500998  2.500998
90978  2.499002  2.499002  2.499002
90979  2.497006  2.497006  2.497006
90980  2.495010  2.495010  2.495010
90981  2.492016  2.492016  2.492016

[90982 rows x 3 columns]

hasil Daya :

In [120]:
df.apply(rumusHambatan)

            V_m   current     Cycle
0      4.085706  4.085706  4.085706
1      4.087808  4.087808  4.087808
2      4.089906  4.089906  4.089906
3      4.084814  4.084814  4.084814
4      4.087908  4.087908  4.087908
...         ...       ...       ...
90977  2.511012  2.511012  2.511012
90978  2.509008  2.509008  2.509008
90979  2.507004  2.507004  2.507004
90980  2.505000  2.505000  2.505000
90981  2.501994  2.501994  2.501994

[90982 rows x 3 columns]

# Answer